*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #46acf0;
  text-decoration: inherit;
  font-size: 1.2rem;
}
a:hover {
  opacity: .7;
  /* color: #7379cc; */
}

h2{
  color: #dda5a5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
}

.light-gray{
  color: #dda5a5;
}

p, b{
  font-size: 1.1rem;
}

#root{
  display: flex;
  gap: 3rem;
  /* flex-wrap: wrap; */
  justify-content: center;
}

aside{
  text-align: right;
}

aside h2{
  color: rgba(255, 255, 255, 0.87);
}

aside img{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 1rem;
}

aside #links, aside nav{
  display: flex;
  flex-direction: column;
  align-items: end;
}

aside #links{
  margin-bottom: 1rem;
}

aside #links a{
  color: rgba(255, 255, 255, 0.87);
  line-height: 2rem;
}

aside #links #sites{
  margin-top: .5rem;
  display: flex;
  gap: .4rem;
}

aside nav a, ul li{
  line-height: 2rem;
}

main {
  width: 100%;
  max-width: 700px;
  text-align: start;
  /* display: flex; */
}

main h1, h2, p, b{
  margin-bottom: .8rem;
}

main .card{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

main img{
  width: 220px;
  height: 170px;
  object-fit: cover;
}

main .card a{
  color: rgba(255, 255, 255, 0.87);
}

main .card .card-links{
  margin-bottom: .8rem;
  display: flex;
  gap: .5rem;
}

main .card .card-links a{
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding-inline: .5rem;
  padding-block: .2rem;
}

@media (max-width: 730px) {
  #root {
    flex-wrap: wrap; /* Items will wrap when the screen width is 600px or less */
  }
  aside nav, aside #links{
    align-items: center;
  }
}

/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
